/*--------------------Navbar*/

.nav-item{
    float: right;
}

.slide-show{
    text-align: center;
}

/*-------------------------------best-seller*/
h6{
    text-align: center;
    font-family: 'Shippori Mincho B1', sans-serif;
    color: #1a581a;
    
    
}

.first-picture{
    max-width: 300px;
    max-height: 380px;
    display: flex;
}

.second-picture{
    max-width: 300px;
    max-height: 380px;
}

.third-picture{
    max-width: 300px;
    max-height: 380px;
}

h2{
    font-family: 'Playfair Display SC', serif;
    margin-top: 100px;
    color: #1a581a;
}

button{
    font-size: small;
    color: #1a581a;
    border-radius: 4px;
    transition-duration: 0.4s;
}

button:hover{
    background-color: #1a581a;
    color: white;
}

/* ----------------------------------------Footer */

.contact-us {
    text-align: center;
    font-family: 'Playfair Display SC', serif;
    margin-top: 100px;
}

h2{
    text-align: center;
    font-family: 'Playfair Display SC', serif;
    
}

p{
    color: #1a581a;
    font-family: 'Shippori Mincho B1', sans-serif;
    text-align: center;

}

.social-media-links{

    display: inline;
    text-align: center;
}

ul{
    text-align: center;
}

.fab{
    color: #1a581a;
}
/*-----------------------------------Background color */


#hero-outer{
    background-color: #f4f3ee;
}

#best-sellers{
    background-color: #f4f3ee;
}

footer{
    background-color: #f4f3ee;
}

body{
    background-color: #f4f3ee;
}

/*-----------------------------------About us */

#about-us{
    margin-top: 50px;
    font-family: 'Shippori Mincho B1', sans-serif;
}

#three-parts{
    margin-top: 50px;
}


#florist-shop{
    background: url("../images/floristshop.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}


.about-us{
    text-align: center;
}


#business-ethos{
    font-family: 'Shippori Mincho B1', sans-serif;
}


#wedding-pic{
    object-fit: fill;
    height: 340px;
    width: 340px;
}

#florist-pic{
    object-fit: fill;
    height: 340px;
    width: 340px;
}

#our-products{
    object-fit: fill;
    height: 340px;
    width: 340px;
}

.occasions{
    text-align: center;
    font-size: 10%;
}

.policy{
    text-align: center;
}

/*-----------------------------------Product Page*/


.first-product{
    object-fit: fill;
    height: 340px;
    width: 300px;
}

.second-product{
    object-fit: fill;
    height: 340px;
    width: 300px;
}

.third-product{
    object-fit: fill;
    height: 340px;
    width: 300px;
}

.fourth-product{
    object-fit: fill;
    height: 340px;
    width: 300px;
}

.fifth-product{
    object-fit: fill;
    height: 340px;
    width: 300px;
}

.sixth-product{
    object-fit: fill;
    height: 340px;
    width: 300px;
}

.seventh-product{
    object-fit: fill;
    height: 340px;
    width: 300px;
}

.eighth-product{
    object-fit: fill;
    height: 340px;
    width: 300px;
}

.ninth-product{
    object-fit: fill;
    height: 340px;
    width: 300px;
    position: center;
}

h4{
    text-align: center;
    font-family: 'Shippori Mincho B1', sans-serif;
}

/*-----------------------------------View More Product page*/

.heaven-scent{
    background: url("../images/image0.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-width: 440px;
    min-height: 460px;
    max-width: 600px;
    max-height: 600px;

}

.tropical-summer{
    background: url("../images/image3.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-width: 440px;
    min-height: 460px;
    max-width: 600px;
    max-height: 600px;

}

.pretty-in-pink{
    background: url("../images/image1.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-width: 440px;
    min-height: 460px;
    max-width: 600px;
    max-height: 600px;
}


.cool-breeze{
    background: url("../images/image2.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-width: 440px;
    min-height: 460px;
    max-width: 600px;
    max-height: 600px;
}

.universe{
    background: url("../images/image10.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-width: 440px;
    min-height: 460px;
    max-width: 600px;
    max-height: 600px;
}

.mellow-yellow{
    background: url("../images/image6.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-width: 440px;
    min-height: 460px;
    max-width: 600px;
    max-height: 600px;
}

.caribbean-twist{
    background: url("../images/mothersday.JPG");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-width: 440px;
    min-height: 460px;
    max-width: 600px;
    max-height: 600px;
}

.mammamia{
    background: url("../images/purple:pink.JPG");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-width: 440px;
    min-height: 460px;
    max-width: 600px;
    max-height: 600px;
}

.valentines{
    background: url("../images/valentinesbox.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-width: 440px;
    min-height: 460px;
    max-width: 600px;
    max-height: 600px;
}